@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration:none;
}

/*****************************************************/

@font-face {
    font-family: 'gillsans';
    src: url('fonts/gill-webfont.eot');
    src: url('fonts/gill-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gill-webfont.woff') format('woff'),
         url('fonts/gill-webfont.ttf') format('truetype'),
         url('fonts/gill-webfont.svg#gill_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'valencia';
    src: url('fonts/valencia-webfont.eot');
    src: url('fonts/valencia-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/valencia-webfont.woff') format('woff'),
         url('fonts/valencia-webfont.ttf') format('truetype'),
         url('fonts/valencia-webfont.svg#valenciaitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*****************************************************/


body{
    background-image: url(images/pattern.jpg);
}


.bullet{
     color:rgb(255,147,30);
}

.slant img{
    margin-bottom:100px;
    width: 30%;
}


.topbar{
    width: 100%;
    background-color: rgb(57,81,97);
    color: white;
    font-family: 'valencia';
    font-size: 39px;
    letter-spacing: 2px;
    -webkit-transform:skewY(-9deg);
    -webkit-transform-origin:left top;
    display:block;
    overflow:hidden;
    position:relative;
    display: inline-block;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: rgb(255,147,30);
    margin-bottom:-2px;
}

.topbar img{
    width: 20%;
    padding-top: 40px;
    margin-left:4%;
    float:left;
    min-width: 180px;
}

.rightInfo{

    display:block;
    float:left;
    margin-top: 60px;
}

.rightInfo p{
    -webkit-transform:scale(1,.8);
    line-height: 70%;
}

.rightInfo p:nth-child(1){
    background-color: rgb(255,136,34);
    padding: 10px 0 5px 30px;
    font-size: 45px;
    width: 140%;
    margin-left: 20%;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
}

.rightInfo p:nth-child(2){
    padding: 0 0 0 10px;
    margin-left: 30px;
}


nav{
    display:inline-block;
    background-color: rgb(242,242,242);
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
    width: 100%;
    -webkit-transform:skewY(-9deg);
    -webkit-transform-origin:left top;
    margin-bottom:10px;
}

nav li{
    float:left;
    background-color: rgb(242,242,242);
    padding: 3px 3% 0 3%;
    font-family: 'valencia';
    font-size: 30px;
    letter-spacing: 2px;
    margin-left: 2%;
}

nav li:hover{
    background-color: rgb(255,147,30);
    color: rgb(32,54,71);
    -webkit-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

nav li a{
    padding-top: 10px;
    -webkit-transform:scale(1,.8);
    color:rgb(32,54,71);
}

nav a:hover{
    color: white;
    -webkit-transition: color 1s ease-out;
    transition: color 1s;
}

.cyclist{
    width: 120%;
    max-width: 1020px;
    margin-bottom:-175px;
    background-color:rgb(132,205,193);
    margin-left:0%;
    margin-top:10px;
}

.cyclist img{
    width: 100%;
    -webkit-transform:skewY(-9deg);
    -webkit-transform-origin:left top;
    -webkit-animation: play 2s steps(50) 1;
    -webkit-animation-timing-function: ease-out;
}


@-webkit-keyframes play {

    from { padding-left:1020px;
           padding-top:-1000px;}
    to { padding-left:0px;
         padding-top:0px;}
}


.testbox{
    background-color:rgb(242,242,242);
    overflow: hidden;
    font-family: "gillsans";
    font-size: 14px;
}

.testbox p{
    padding-left: 6%;
    padding-right: 6%;
}

.testbox1{
    background-color: rgb(242,242,242);
    overflow:hidden;
    font-family: "gillsans";
    font-size: 14px;

    } 

.testbox1 p{
    margin-top: 10px;
    padding-left: 6%;
    padding-right: 6%;
}

.bottombikes{
    background-color:rgb(242,242,242);
    width: 100%;
    -webkit-transform:skewY(-9deg);
    -webkit-transform-origin:left top;
    padding-left:10%;
    padding-right:10%;
    padding-top:20px;
    padding-bottom:20px;

}

.bottombikes img{
    width: 20%;
    padding-left:5%;
}

.hidemenu{
    display:none;
}


.entire{
    background-image: -webkit-linear-gradient(top, rgb(132,205,193) 50%, rgb(57,81,97) 50%);
    margin: auto;
    width: 100%;
    max-width: 1020px;
    overflow:hidden;
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.75);
}

footer p{
    font-family: "valencia";
    font-size: 40px;
    background-color: rgb(57,81,97);
    -webkit-transform:scale(1,.6);
    padding-left:5%;
    color: white;
    letter-spacing: .5px;
}

footer{
    background-color: rgb(57,81,97);
    -webkit-transform:skewY(-9deg);
    -webkit-transform-origin:left top;
}







/* 0 to 480px *** AKA: iPhone  *********************************/
@media screen and (min-width: 0px) and (max-width: 480px){



.bottombikes{
    display: none;
}

.hidemenu{
    background-color: pink;
    display: block;
    font-family: "valencia";
    font-size: 60px;
    color:white;
    -webkit-transform:skewY(-9deg);
    -webkit-transform-origin:left top;
    margin-top:-150px;
}

.hidemenu li{
    background-color: rgb(32,54,71);
    border-bottom-width: 5px;
    border-bottom-color: rgb(255,147,30);
    border-bottom-style: solid;
}

.hidemenu li:hover{
    background-color:rgb(255,147,30);
    -webkit-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.hidemenu a{
    color:rgb(132,205,193);
    display:block;
    padding-left:10%;
    -webkit-transform:scale(1,1.25);
    line-height: .9;
    padding-top:6px;
}

.testbox1{
    padding-top:25px;
}

nav li{
    font-size: 30px;
    margin-left:1%;
}

.topbar img{
    margin-left:17%;
    width: 60%;
    margin-top:20px;
}


.rightInfo{
    margin-top:0px;
}

.rightInfo p:nth-child(1){
    margin-left: 30%;
}

.rightInfo p:nth-child(2){
       margin-top:10px;
}










}   /*DO NOT DELETE THIS BRACKET*/









































