@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html{
	background-image: url(images/back.jpg);
}

a {
	text-decoration:none;
}

@font-face {
    font-family: 'gillsans';
    src: url('fonts/gillsans-webfont.eot');
    src: url('fonts/gillsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gillsans-webfont.woff') format('woff'),
         url('fonts/gillsans-webfont.ttf') format('truetype'),
         url('fonts/gillsans-webfont.svg#gill_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lehavre';
    src: url('fonts/lehavre-webfont.eot');
    src: url('fonts/lehavre-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lehavre-webfont.woff') format('woff'),
         url('fonts/lehavre-webfont.ttf') format('truetype'),
         url('fonts/lehavre-webfont.svg#le_havre_lrsprimary') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*----------GLOBAL DEFINITIONS------------*/


body{
	background-color: rgb(242,242,242);
}

.topcontainer{
	background-color: rgb(237,231,220);
	height: 40px;
}


nav{
  width: 100%;
  float:right;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: rgb(0,180,171);
  font-family: "lehavre";
  font-size: 12px;
  color: rgb(217,0,77);
  text-transform: uppercase;
}

nav ul li{
  margin-right: 3%;
  display: inline-block;
  float:right;
    padding-top: 4px;
  padding-bottom: 4px;
}

nav a{
	color: rgb(217,0,77);
  -o-transition:color .2s ease-out, background .8s ease-in;
  -ms-transition:color .2s ease-out, background .8s ease-in;
  -moz-transition:color .2s ease-out, background .8s ease-in;
  -webkit-transition:color .2s ease-out, background .8s ease-in;
  transition:color .2s ease-out, background .8s ease-in;
   padding-top: 4px;
  padding-bottom: 4px;
}


a:hover { 
	color:white; 
	background:rgb(0,180,171);
}













.logo {
	width: 38%;
	max-width: 280px;
	position: absolute;
	top: 0;
	left: 10px;
	margin-top: 20px;
}

.logo img{
	width: 100%;
}

.logo p{
	display:block;
	font-family: "lehavre";
	font-size: 20px;
	text-align: center;
}


h1:nth-of-type(1){
	padding-top: 20px;
	font-family: "lehavre";
	font-size: 20px;
	margin-left: 15%;
	color: rgb(0,180,171);
	margin-top: 55px;
}

.welcome{
	border-top-style: solid;
	border-top-color: rgb(0,180,171);
	border-top-width: 4px;
	background-color: rgb(237,231,220);
	display:inline-block;
	padding-top: 20px;
	padding-bottom: 10px;
}

.welcome p{
	float:left;
	width: 50%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	font-family: "gillsans";
	font-size: 16px;
	padding-top:20px;
}

.fiatleft{
	float:left;
	display:block;
	width: 15%;
	max-width: 150px;
}

.fiatleft img{
	width: 100%;
}

.fiatright{
	width: 30%;
	margin-top: -50px;
	max-width: 300px;
	float:right;
}

.fiatright img{
	width: 100%;

}

h1:nth-of-type(2){
	background-color: rgb(237,231,220);
	font-family: "lehavre";
	font-size: 20px;
	padding-right: 15%;
	color: rgb(217,0,77);
	display:block;
	width: 85%;
	text-align: right;
	margin-top:-5px;
}


.about {
	background-color: rgb(242,242,242);
	border-top-width: 4px;
	border-top-color: rgb(217,0,77);
	border-top-style: solid;
	display:inline-block;
}

.about p{
	display:block;
	float:right;
	width: 56%;
	padding-right: 4%;
	text-align: right;
	font-family: "gillsans";
	font-size: 16px;
	padding-top: 20px;
	padding-bottom:20px;
}










.fiattan{
	width: 39%;
	margin-top: -10px;
	max-width: 380px;
	-webkit-animation: play 3s steps(50) 1;
	-webkit-animation-timing-function: ease-out;
}

.fiattan img{
	width: 100%;
	float:left;
}

@-webkit-keyframes play {

	from { margin-left: -280px;}
	to { margin-left: 0px;}
}














h1:nth-of-type(3){
	font-family: "lehavre";
	font-size: 20px;
	color: rgb(0,180,171);
	display:block;
	width: 50%;
	text-align: right;
	background-color: rgb(242,242,242);
	float:left;
	text-align: center;
	border-bottom-width: 4px;
	border-bottom-color: rgb(0,180,171);
	border-bottom-style: solid;
}

h1:nth-of-type(4){
	font-family: "lehavre";
	font-size: 20px;
	color: rgb(0,180,171);
	display:block;
	width: 50%;
	text-align: right;
	background-color: rgb(242,242,242);
	float:right;
	text-align: center;
	border-bottom-width: 4px;
	border-bottom-color: rgb(0,180,171);
	border-bottom-style: solid;
}



iframe{
	border-width: 6px;
	border-color: white;
	border-style: solid;
	margin-top: 10px;
	margin-left: 5%;
	float:left;
	margin-right: 5%;
	width: 30%;
	height: 200px;
}

.fiatsketch{
	width: 30%;
	max-width: 300px;
}
.fiatsketch img{
	width: 100%;
}

.events{
	font-family: "gillsans";
}

.fiatnuts{
	width: 50%;
	float:right;
	margin-top: -50px;
	max-width: 470px;
	background-size:contain;
	background-repeat: no-repeat;
	min-height: 300px;
	-webkit-animation: ping 4s steps(50) infinite alternate;
	-webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes ping {

	0%{
		background-image: url(images/fiatnuts.png);
	}

	25%{
		background-image: url(images/fiatnuts2.png);
	}

	50%{
		background-image: url(images/fiatnuts3.png);
	}

	100%{
		background-image: url(images/fiatnuts4.png);
	}

}

.fiatnuts img{
	width: 100%;
}

h1:nth-of-type(5){
	background-color: rgb(237,231,220);
	font-family: "lehavre";
	font-size: 20px;
	color: rgb(217,0,77);
	display:block;
	width: 85%;
	text-align: right;
	padding-right: 15%;
	border-bottom-width: 4px;
	border-bottom-color: rgb(217,0,77);
	border-bottom-style: solid;
	margin-top: -6px;
	padding-top: 20px;
}

h2 {
	font-family: "lehavre";
	font-size: 20px;
	color: rgb(0,180,171);
	text-transform: uppercase;
}

h2:nth-of-type(1){
	margin-top: 30px;
}

h3 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.events h2{
	margin-left: 5%;
}

.events h3{
	margin-left: 5%;
}

.events p{
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 50px;
}

footer{
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: rgb(0,180,171);
	background-color: rgb(237,231,220);
	font-family: "gillsans";
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer li {
	display: inline-block;
	border-right-color: rgb(217,0,77);
	border-right-style: solid;
	border-right-width: 5px;
	padding-right: 2%;
	padding-left: 2%;
}

footer ul{
	text-align: center;
}

footer li:nth-child(1){
	text-transform: uppercase;
}

footer li:nth-child(3){
	border-right: none;
}

.shop{
	background-color: rgb(237,231,220);
	display:inline-block;
	width: 100%;
}

/* 720px OR MORE SCREEN SIZE ****************/
@media screen and (min-width: 720px) {



.shop ul{
	display:block;
	float:right;
	width: 20%;
	padding: 10px;
	border-width: 6px;
	border-color: white;
	border-style: solid;
}

.shop li{
	width: 50%;
	margin-bottom: 5px;
}

.shop ul{
	width: 15%;
	margin-right: 5%;
	margin-top: 10px;
	font-family: "gillsans";
}

.shop li:nth-child(even){
	float:right;
}

.shop li:nth-child(odd){
	font-weight: bold;
	text-transform: uppercase;
	font-size: 15px;
	float:left;
}



}

/* 720px TABLET SIZE ****************/
@media screen and (min-width: 481px) and (max-width: 720px) {


.fiatsketch{
	float:right;
	padding-right: 10%;
	margin-top: 10px;
}

h1:nth-of-type(4){
	display: none;
}

h1:nth-of-type(3){
	width: 85%;
	text-align: left;
	padding-left: 15%;
}

iframe{
	width: 45%;
	height: 250px;
}

.shop ul:before{
	display:block;
	width: 112%;
	background-color: rgb(237,231,220);
	content: "HOURS";
	font-size: 20px;
	font-family: "lehavre";
	margin-left:-6%;
	border-bottom-style: solid;
	border-bottom-color: rgb(0,180,171);
	color:rgb(0,180,171);
	border-bottom-width: 4px;
	margin-bottom: 10px;
}

.shop li{
	margin-bottom: 5px;


}

.shop ul{
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
	margin-top: 10px;
	font-family: "gillsans";
	display:block;
	background-color: rgb(237,231,220);
	text-align: center;
	float:left;
}

.shop li:nth-child(even){
	font-size: 16px;
	float:right;
	width: 46%;
	text-align: left;
}

.shop li:nth-child(odd){
	float:left;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	padding-right: 2%;
	width: 50%;
	text-align: right;
}


.fiatnuts{
	width: 50%;
	float:right;
	margin-top: -50px;
	max-width: 470px;
	background-size:contain;
	background-repeat: no-repeat;
	min-height: 300px;
	-webkit-animation: ping 4s steps(50) infinite alternate;
	-webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes ping {

	0%{
		background-image: url(images/fiatnuts.png);
	}

	25%{
		background-image: url(images/fiatnuts2.png);
	}

	50%{
		background-image: url(images/fiatnuts3.png);
	}

	100%{
		background-image: url(images/fiatnuts4.png);
	}


}




}


/* 480px OR LESS IPHONE SIZE ****************/
@media screen and (min-width: 0px) and (max-width: 480px) {


.fiatsketch{
	display:none;
	visibility: hidden;
}

h1:nth-of-type(4){
	display: none;
}

h1:nth-of-type(3){
	width: 85%;
	text-align: left;
	padding-left: 15%;
}


iframe{
	width: 85%;
	height: 300px;
	margin-left: 5%;
	margin-right: 5%;
}

.shop ul:before{
	display:block;
	width: 112%;
	background-color: rgb(237,231,220);
	content: "HOURS";
	font-size: 30px;
	font-family: "lehavre";
	margin-left:-6%;
	color: rgb(0,180,171);
	border-bottom-style: solid;
	border-bottom-color: rgb(0,180,171);
	border-bottom-width: 4px;
	margin-bottom: 10px;
}



.shop li{
	margin-bottom: 5px;


}

.shop ul{
	width: 89%;
	padding-right: 5%;
	padding-left: 5%;
	margin-top: 10px;
	font-family: "gillsans";
	display:block;
	text-align: center;
	float:left;
}

.shop li:nth-child(even){
	font-size: 16px;
	float:right;
	width: 46%;
	text-align: left;
}

.shop li:nth-child(odd){
	float:left;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	padding-right: 2%;
	width: 50%;
	text-align: right;
}




.fiatnuts{
	width: 100%;
	float:right;
	margin-top: -50px;
	max-width: 470px;
	background-size:contain;
	background-repeat: no-repeat;
	min-height: 300px;
	-webkit-animation: ping 4s steps(50) infinite alternate;
	-webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes ping {

	0%{
		background-image: url(images/fiatnuts.png);
	}

	25%{
		background-image: url(images/fiatnuts2.png);
	}

	50%{
		background-image: url(images/fiatnuts3.png);
	}

	100%{
		background-image: url(images/fiatnuts4.png);
	}


}


.fiattan{
	width: 60%;
	margin-top: -10px;
	max-width: 380px;
	-webkit-animation: none;
	margin-right: 10%;
	margin-left: 20%;
}

.fiattan img{
	width: 100%;
	float:left;
}

h1:nth-of-type(3){
	font-size: 30px;
	margin:0;
	padding:0;
	text-align: center;
	width: 100%;
}

h1:nth-of-type(2){
	font-size: 30px;
	margin: 0;
	padding:0;
	width: 100%;
	text-align: center;
	margin-top:-6px;
}

h1:nth-of-type(4){
	font-size: 30px;
}
h1:nth-of-type(5){
	width: 100%;
	margin:0;
	padding:0;
	text-align: center;
	font-size: 30px;
	margin-top:-5px;
	padding-top:20px;
}


.about p{
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 15px;
}

.fiatleft{
	display:none;
	visibility: hidden;
}

.fiatright{
	width: 50%;
	margin-top: -220px;
}

.logo{
	width: 80%;
	max-width: none;
	float:right;
	margin-top: 20px;
	top:0;
	margin-left: 7%;
}

.topcontainer{
	height: 100px;
	border-bottom-style: solid;
	border-bottom-color: rgb(0,180,171);
	border-bottom-width: 5px;
	height: 38px;
}

nav{
	width: 36%;
	float:left;
	margin-top: 90px;
	border-top: none;
	margin-bottom: 20px;
	padding-left: 6%;
}

nav li{
	text-align: left;
	float:left;
	width: 90%;
	float:none;
	margin-right: 0;
	margin-left:0;
	font-size: 18px;
	margin-bottom: 3px;
}

h1:nth-of-type(1){
	font-size: 30px;
	margin-top: 180px;
	padding:0;
	border:0;
	clear:left;
	margin-top: 20px;
	margin-left:8%;
}

.welcome p{
	margin-top: 10px;
	width: 95%;
}



}













