@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration:none;
}

@font-face {
    font-family: 'thirsty_script_regularbold';
    src: url('thirsty/ThirstyScriptBold-webfont.eot');
    src: url('thirsty/ThirstyScriptBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('thirsty/ThirstyScriptBold-webfont.woff') format('woff'),
         url('thirsty/ThirstyScriptBold-webfont.ttf') format('truetype'),
         url('thirsty/ThirstyScriptBold-webfont.svg#thirsty_script_regularbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{ 
	font-family: 'klinicbold';
	src: url('klinic/klinicslabbold-webfont.eot');
	src: url('klinic/klinicslabbold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('klinic/klinicslabbold-webfont.woff') format('woff'),
	     url('klinic/klinicslabbold-webfont') format('truetype'),
	     url('klinic/klinicslabbold-webfont#webfont') format('svg');
}

@font-face {
    font-family: 'klinic_slabbook';
    src: url('klinicbook/klinicslabbook-webfont.eot');
    src: url('klinicbook/klinicslabbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('klinicbook/klinicslabbook-webfont.woff') format('woff'),
         url('klinicbook/klinicslabbook-webfont.ttf') format('truetype'),
         url('klinicbook/klinicslabbook-webfont.svg#klinic_slabbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* /////////////////////////////////////////// */

body{
	background-color: rgb(247,228,166);
}


@media screen and (min-width: 701px){


.intro header {
	background-color: rgb(223,90,73);
	border-top-color: rgb(69,178,157);
	border-top-width: 10px;
	border-top-style: solid;
	border-bottom-color: rgb(239,201,76);
	border-bottom-width: 20px;
	border-bottom-style: solid;
	text-align: center;
	padding-top:60px;
	-webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.54);
	-moz-box-shadow:    0px 2px 9px rgba(0, 0, 0, 0.54);
	box-shadow:         0px 2px 9px rgba(0, 0, 0, 0.54);
  	margin-bottom: 25px;
  	background-image: url(images/half.png);
  	background-repeat: no-repeat;
  	background-position: center bottom;
  	background-size:contain;
}

.intro header h1{
	font-family: 'thirsty_script_regularbold';
	text-transform: capitalize;
	font-size: 50px;
}

header h2{
	display:none;
}


.summary {
	background-color: rgb(69,178,157);
	float:right;
	width: 25%;
	margin-right: 5%;
	text-align: center;
	margin-top: -25px;
	font-family: 'klinic_slabbook';
	font-size: 16px;
	padding-top: 10px;
	max-width: 233px;
}

.summary:after{
	content:"";
	display:block;
	background-color: rgb(223,90,73);
	background-image: url(images/ribblue.png);
	width: 100%;
	height: 100px;
	background-repeat: no-repeat;
  	background-position: center top;
  	background-size: contain;	
}

.summary p{
	margin-right: 5%;
	margin-left:5%;
	color: white;
	margin-bottom: 7px;
}


.summary p:nth-child(2){
	margin-top: 10px;
}

.summary a{
	color: rgb(239,201,76);
}


.preamble {
	background-color: rgb(249,236,193);
	float:left;
	width: 27%;
	margin-left: 5%;
	margin-right: 1%;
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 20px;
	padding-bottom: 10px;
}

.preamble h3{
	display: none;
}

.preamble:before{
	color: rgb(223,90,73);
	content: "the ROAD to ENLIGHTENMENT";
	display:block;
	font-family: 'klinicbold';
	font-size: 22px;
	margin-left: -10px;
	margin-top: -30px;
	max-width: 308px;
}

.preamble p{
	font-family: 'klinicbold';
	font-size: 15px;
	margin-top: 10px;
}

.preamble p:nth-child(1){
	margin-top: 20px;
}

.explanation {
	background-color: rgb(249,236,193);
	float:left;
	width: 32%;
	margin-right: 1%;
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 10px;
	font-family: 'klinicbold';
	font-size: 15px;
	padding-bottom: 10px;
}

.explanation p{
	margin-top: 10px;
}

.explanation h3{
	display: none;
}

.explanation:before{
	color: rgb(223,90,73);
	content: "so WHAT is this all ABOUT?";
	display:block;
	font-family: 'klinicbold';
	font-size: 22px;
	margin-left: -10px;
	margin-top: -10px;

}



.participation{
	background-color: rgb(244,216,127);
	clear:both;
}

.participation h3{
	font-family: 'klinicbold';
	font-size: 22px;
	margin-left: 5%;
	color:rgb(223,90,73) ;
	margin-top: 20px;
	text-transform: uppercase;
	margin-bottom: -7px;
}

.participation p{
	background-color: rgb(249,236,193);
	margin-left: 5%;
	width: 60%;
	padding-left: 1%;
	padding-right: 1%;
	margin-right: 5%;
	font-family: 'klinicbold';
	font-size: 15px;
	padding-top: 10px;
}

.participation p:nth-last-child(1){
	padding-bottom: 10px;
}

.participation a{
	color: rgb(69,178,157);
}
.participation:before{
	background-image: url(images/border.jpg);
	content:"";
	width: 100%;
	height: 13px;
	display:block;
	background-color: transparent;
}

.participation p:nth-last-child(1):after{
	content: url(images/elephant.png);
	display: block;
	margin-left: 600px;
	float:right;
	margin-top: 20px;
	margin-left: 10px;
}




.design-archives{
	background-color: rgb(223,90,73);
	position: absolute;
	top: 305px;
	right:0px;
	width: 25%;
	max-width: 233px;
	margin-right: 5%;
	text-align: center;
}

.design-archives .next a{
	content: url(images/next.png);
	margin-top: 10px;
}

.design-archives .viewall a{
	content: url(images/all.png);
	margin-top: 10px;
}



.design-archives:after{
	width: 100%;
	height: 35px;
	content:"";
	background-color: rgb(247,228,166);
	display:block;
	background-image: url(images/ribred.png);
	background-repeat: no-repeat;
  	background-position: center top;
  	background-size: contain;
  	
}

.design-archives h3{
	color: rgb(249, 236, 193);
	font-family: 'klinicbold';
	font-size: 22px;
	margin-bottom: 3px;

}


.benefits{
	background-color: rgb(244,216,127);
	padding-top: 20px;
}

.benefits p{
	background-color: rgb(249,236,193);
	margin-left: 5%;
	width: 60%;
	padding-left: 1%;
	padding-right: 1%;
	margin-right: 5%;
	font-family: 'klinicbold';
	font-size: 15px;
	padding-top: 10px;
}

.benefits h3{
	font-family: 'klinicbold';
	font-size: 22px;
	margin-left: 5%;
	color: rgb(223,90,73);
	text-transform: uppercase;
	margin-bottom: -10px;
}

.benefits:after{
	background-image: url(images/upborder.jpg);
	content:"";
	width: 100%;
	height: 13px;
	display:block;
	background-color: transparent;
	margin-top: 20px;
}



.design-selection{
	background-color: rgb(226,122,63);
	position: absolute;
	top: 500px;
	right:0px;
	width: 25%;
	margin-right: 5%;
	text-align: center;
	font-family: 'klinic_slabbook';
	font-size: 16px;
}

.design-selection:after{
	width: 100%;
	height: 35px;
	content:"";
	display:block;
	background-image: url(images/riborange.png);
	background-repeat: no-repeat;
  	background-position: center top;
  	background-size: contain;
  	background-color: rgb(244,216,127);
  	
}


.design-selection h3{
	font-size: 22px;
	font-family: 'klinicbold';
	color: white;
	padding-top: 10px;
}


.design-selection ul li a:nth-child(1){
	float:left;
	width: 100%;
	font-size: 16px;
	color: rgb(249,236,193);
}

 .sidebar li a:nth-child(2){
	clear:left;
	color: white;
}

.design-selection ul li {
	margin-bottom: 10px;
	margin-top: 10px;
}


.requirements{
	background-image: url(images/dots.png);
	background-repeat: repeat-y;
	background-position:center top;
	background-size: 20%;
	float:right;
}



.requirements p{
	background-color: rgb(249,236,193);
	margin-left: 5%;
	width: 30%;
	padding-left: 1%;
	padding-right: 1%;
	font-family: 'klinicbold';
	font-size: 15px;
	padding-top: 10px;
}

.requirements a{
	color: rgb(69,178,157);
}


.requirements p:nth-child(2){
	background-color: rgb(249,236,193);
	display:block;
	float:right;
	margin-right: 5%;
}

.requirements p:nth-child(3){
	background-color: rgb(249,236,193);
	display:block;
	clear:right;
	float:right;
	margin-right: 5%;
}



.requirements h3{
	font-family: 'klinicbold';
	font-size: 22px;
	margin-left: 5%;
	color: rgb(223,90,73);
	text-transform: uppercase;
	margin-top: 10px;
}



.requirements p:nth-last-child(1){
	background-color: rgb(69,178,157);
	width: 98%;
	text-align: center;
	margin-left:0;
	float:right;
	margin-top: 20px;
	padding-top: 0px;
	background-image: url(images/borderb.jpg);
	background-repeat: repeat-x;
	padding-top: 37px;
	padding-bottom: 20px;
	border-bottom-width: 10px;
	border-bottom-style: solid;
	border-bottom-color: rgb(247,228,166);
}

.requirements p:nth-last-child(1) a{
	color:rgb(249,236,193);
}




footer{
	text-align: center;
}

footer a{
	color: rgb(223,90,73);
	padding-left: 2%;
	padding-right: 2%;
	border-right-style: solid;
	border-right-width: 5px;
	border-right-color: rgb(239,201,76);
	font-family: 'klinicbold';
	font-size: 15px;
}

footer a:nth-last-child(1){
	border-right:none;
}

.zen-resources{
	background-color: rgb(223,90,73);
	text-align: center;
	padding-top: 10px;
	font-family: 'klinicbold';
	font-size: 15px;
	padding-bottom: 10px;
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: rgb(247,228,166);
}

.zen-resources h3{
	font-size: 20px;
	padding-bottom: 5px;
	color: white;
}

.zen-resources a{
	color: black;
	font-family: "klinic_slabbook";
}





}/*I'm the most important bracket! Don't delete me! */













@media screen and (min-width: 744px) and (max-width: 863px){
	.design-archives{
		background-color: rgb(223,90,73);
		position: absolute;
		top: 321px;
		right:0px;
	}
}

/**********************************************************/

@media screen and (min-width: 940px) and (max-width: 1124px){
	.participation:before{
		background-image: url(images/border.jpg);
		background-repeat: repeat-x;
		background-position: bottom;
		background-color: rgb(247,228,166);
		content:"";
		width: 100%;
		height: 40px;
		display:block;
	}
}

@media screen and (min-width: 1124px) and (max-width: 1170px){
	.participation:before{
		background-image: url(images/border.jpg);
		background-repeat: repeat-x;
		background-position: bottom;
		background-color: rgb(247,228,166);
		content:"";
		width: 100%;
		height: 60px;
		display:block;
	}
}

@media screen and (min-width: 1170px) and (max-width: 1322px){
	.participation:before{
		background-image: url(images/border.jpg);
		background-repeat: repeat-x;
		background-position: bottom;
		background-color: rgb(247,228,166);
		content:"";
		width: 100%;
		height: 80px;
		display:block;
	}
}

@media screen and (min-width: 1322px){
	.participation:before{
		background-image: url(images/border.jpg);
		background-repeat: repeat-x;
		background-position: bottom;
		background-color: rgb(247,228,166);
		content:"";
		width: 100%;
		height: 100px;
		display:block;
	}
}



/*************************************************************/
@media screen and (min-width: 700px) and (max-width: 706px){
	.design-selection{
		top: 579px;
	}
}

@media screen and (min-width: 706px) and (max-width: 727px){
	.design-selection{
		top: 564px;
	}
}

@media screen and (min-width: 727px) and (max-width: 793px){
	.design-selection{
		top: 565px;
	}
}


@media screen and (min-width: 793px) and (max-width: 795px){
	.design-selection{
		top: 535px;
	}
}


@media screen and (min-width: 795px) and (max-width: 814px){
	.design-selection{
		top: 513px;
	}
}


@media screen and (min-width: 814px) and (max-width: 877px){
	.design-selection{
		top: 505px;
	}
}

@media screen and (min-width: 877px) and (max-width: 892px){
	.design-selection{
		top: 505px;
	}
}

@media screen and (min-width: 892px) and (max-width: 938px){
	.design-selection{
		top: 491px;
	}
}

@media screen and (min-width: 938px) and (max-width: 939px){
	.design-selection{
		top: 490px;
	}
}

@media screen and (min-width: 939px) and (max-width: 944px){
	.design-selection{
		top: 517px;
	}
}

@media screen and (min-width: 944px) and (max-width: 961px){
	.design-selection{
		top: 510px;
	}
}

@media screen and (min-width: 961px) and (max-width: 976px){
	.design-selection{
		top: 502px;
	}
}

@media screen and (min-width: 976px) and (max-width: 1125px){
	.design-selection{
		top: 487px;
	}
}

@media screen and (min-width: 1125px) and (max-width: 1128px){
	.design-selection{
		top: 491px;
	}
}

@media screen and (min-width: 1128px) and (max-width: 1165px){
	.design-selection{
		top: 492px;
	}
}


/******* TABLET ************* 440px - 700px *******************************/

@media screen and (min-width: 440px) and (max-width: 700px){
	.intro header {
	background-color: rgb(223,90,73);
	border-top-color: rgb(69,178,157);
	border-top-width: 10px;
	border-top-style: solid;
	border-bottom-color: rgb(239,201,76);
	border-bottom-width: 20px;
	border-bottom-style: solid;
	text-align: center;
	padding-top:60px;
	-webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.54);
	-moz-box-shadow:    0px 2px 9px rgba(0, 0, 0, 0.54);
	box-shadow:         0px 2px 9px rgba(0, 0, 0, 0.54);
  	margin-bottom: 25px;
  	background-image: url(images/half.png);
  	background-repeat: no-repeat;
  	background-position: center bottom;
  	background-size:contain;
}

header h2{
	display:none;
}

.intro header h1{
	font-family: 'thirsty_script_regularbold';
	text-transform: capitalize;
	font-size: 50px;
}

.summary {
		background-color: rgb(69,178,157);
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		margin-top: -25px;
		background-image: url(images/ribblue.png);
		background-size: contain;
		background-position: center bottom;
		background-repeat: no-repeat;
		text-align: center;
		font-family: "klinic_slabbook";
		font-size: 16px;
		padding-top: 10px;
		padding-right: 5%;
		padding-left: 5%;
		color: white;
	}

.summary:after{
	content:"";
	display:block;
	background-color: rgb(247,228,166);
	background-image: url(images/ribblue.png);
	width: 112%;
	height: 77px;
	margin-left: -6%;
	background-repeat: no-repeat;
  	background-position: center top;
  	background-size: contain;	
}

.summary a{
	color: rgb(239,201,76);
}

.design-archives{
	background-color: rgb(223,90,73);
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
	text-align: center;
	padding-bottom: 10px;
	font-family: "klinicbold";
	font-size: 16px;
}

.design-archives h3{
	font-size: 22px;
	padding-top: 10px;
	color: rgb(244,216,127);
}

.design-archives{
	background-color: rgb(223,90,73);
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
	text-align: center;
	padding-bottom: 10px;
	font-family: "klinicbold";
	font-size: 16px;
}

.design-selection{
	background-color: rgb(226,122,63);
	color: black;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "klinic_slabbook";
	font-size: 16px;
	margin-top:7px;
}

.design-selection h3{
	color:white;
}

.design-selection a{
	color: black;
}

.design-selection li a:nth-child(1){
	width: 100%;
	display: block;
	font-family: "klinic_slabbook";
	padding-top: 5px;
	color: rgb(249,236,193);
}

.design-selection h3{
	font-size: 22px;
}

.design-archives .next a{
	content: url(images/next.png);
	margin-top: 10px;
}

.design-archives .viewall a{
	content: url(images/all.png);
	margin-top: 10px;
}




.preamble {
	background-color: rgb(249,236,193);
	float:left;
	width: 40%;
	margin-left: 5%;
	margin-right: 6%;
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 40px;
	padding-bottom: 10px;
}

.preamble h3{
	display: none;
}

.preamble:before{
	color: rgb(223,90,73);
	content: "the ROAD to ENLIGHTENMENT";
	display:block;
	font-family: 'klinicbold';
	font-size: 22px;
	margin-left: -10px;
	margin-top: -30px;
	max-width: 308px;
}

.preamble p{
	font-family: 'klinicbold';
	font-size: 15px;
	margin-top: 10px;
}

.preamble p:nth-child(1){
	margin-top: 20px;
}

.explanation {
	background-color: rgb(249,236,193);
	margin-bottom: 10px;
	float:left;
	width: 40%;
	margin-right: 5%;
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 20px;
	font-family: 'klinicbold';
	font-size: 15px;
	padding-bottom: 10px;
}

.explanation p{
	margin-top: 10px;
}

.explanation h3{
	display: none;
}

.explanation:before{
	color: rgb(223,90,73);
	content: "so WHAT is this all ABOUT?";
	display:block;
	font-family: 'klinicbold';
	font-size: 22px;
	margin-left: -10px;
	margin-top: -10px;

}

.participation{
	background-color: rgb(244,216,127);
	clear:both;
}

.participation h3{
	font-family: 'klinicbold';
	font-size: 22px;
	margin-left: 5%;
	color: rgb(223,90,73);
	margin-top: 20px;
	text-transform: uppercase;
	margin-bottom: -8px;
}

.participation p{
	background-color: rgb(249,236,193);
	margin-left: 5%;
	width: 88%;
	padding-left: 1%;
	padding-right: 1%;
	margin-right: 5%;
	font-family: 'klinicbold';
	font-size: 15px;
	padding-top: 10px;
}

.participation a{
	color: rgb(69,178,157);
}

.participation:before{
	background-image: url(images/border.jpg);
	content:"";
	width: 100%;
	height: 13px;
	display:block;
	background-color: transparent;
}

.participation p:nth-last-child(1):after{
	content: url(images/elephant.png);
	display: block;
	margin-left: 600px;
	float:right;
	margin-top: 27px;
	margin-left: 10px;
}

.participation p:nth-last-child(1){
	padding-bottom: 10px;
}

.requirements{
	background-color: rgb(247,228,166);
	float:right;
}



.requirements p{
	background-color: rgb(249,236,193);
	margin-left: 5%;
	width: 86%;
	padding-left: 1%;
	padding-right: 1%;
	font-family: 'klinicbold';
	font-size: 15px;
	padding-top: 10px;
}

.requirements a{
	color: rgb(69,178,157);
}


.requirements h3{
	font-family: 'klinicbold';
	font-size: 22px;
	margin-left: 5%;
	color: rgb(223,90,73);
	text-transform: uppercase;
	margin-top: 10px;
	padding-top: 5px;
	margin-bottom: -10px;
}



.requirements p:nth-last-child(1){
	background-color: rgb(69,178,157);
	width: 98%;
	text-align: center;
	margin-left:0;
	float:right;
	margin-top: 20px;
	padding-top: 0px;
	background-image: url(images/borderb.jpg);
	background-repeat: repeat-x;
	padding-top: 37px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.requirements p:nth-last-child(1) a{
	color: rgb(244,216,127);
}

.benefits{
	padding-top: 20px;
	background-color: rgb(244,216,127);
}

.benefits p{
	background-color: rgb(249,236,193);
	margin-left: 5%;
	width: 60%;
	padding-left: 1%;
	padding-right: 1%;
	margin-right: 5%;
	font-family: 'klinicbold';
	font-size: 15px;
	padding-top: 10px;
}

.benefits h3{
	font-family: 'klinicbold';
	font-size: 22px;
	margin-left: 5%;
	text-transform: uppercase;
	margin-bottom: -8px;
	color: rgb(223,90,73);
}

.benefits:after{
	background-image: url(images/upborder.jpg);
	content:"";
	width: 100%;
	height: 13px;
	display:block;
	background-color: transparent;
	margin-top: 20px;
}

.benefits p:nth-last-child(1){
	padding-bottom: 10px;
}

footer{
	text-align: center;
}

footer a{
	color: rgb(223,90,73);
	padding-left: 2%;
	padding-right: 2%;
	border-right-style: solid;
	border-right-width: 5px;
	border-right-color: white;
	font-family: 'klinicbold';
	font-size: 15px;
}

footer a:nth-last-child(1){
	border-right:none;
}

.zen-resources{
	background-color: transparent;
	text-align: center;
	padding-top: 10px;
	font-family: 'klinicbold';
	font-size: 15px;
	padding-bottom: 10px;
}

.zen-resources h3{
	font-size: 20px;
	padding-bottom: 5px;
	color: rgb(69,178,157);;
}

.zen-resources a{
	color: black;
	font-family: "klinic_slabbook";
}


}

/****  IPHONE  ********** Less than 440px *************************************/

@media screen and (max-width: 440px){

.intro header {
	background-color: rgb(223,90,73);
	border-top-color: rgb(69,178,157);
	border-top-width: 10px;
	border-top-style: solid;
	border-bottom-color: rgb(239,201,76);
	border-bottom-width: 20px;
	border-bottom-style: solid;
	text-align: center;
	padding-top:60px;
	-webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.54);
	-moz-box-shadow:    0px 2px 9px rgba(0, 0, 0, 0.54);
	box-shadow:         0px 2px 9px rgba(0, 0, 0, 0.54);
  	margin-bottom: 25px;
  	background-image: url(images/half.png);
  	background-repeat: no-repeat;
  	background-position: center bottom;
  	background-size:contain;
}

.intro header h1{
	font-family: 'thirsty_script_regularbold';
	text-transform: capitalize;
	font-size: 50px;
}

header h2{
	display:none;
}

.preamble {
	background-image: url(images/bordersmall.png);
	background-repeat: no-repeat;
	background-position: top center;
	float:left;
	width: 88%;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 70px;
	padding-bottom: 10px;
}

.preamble h3{
	display: none;
	text-align: center;
}

.preamble:before{
	content: "the ROAD to ENLIGHTENMENT";
	display:block;
	font-family: 'klinicbold';
	font-size: 30px;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -62px;
	max-width: none;
	text-align: center;
	color: rgb(223,90,73);
}

.preamble p{
	font-family: "klinic_slabbook";
	font-size: 15px;
	margin-top: 10px;
}

.preamble p:nth-child(1){
	margin-top: 20px;
}


.explanation {
	background-image: url(images/bordersmall.png);
	background-repeat: no-repeat;
	background-position: top center;
	margin-bottom: 10px;
	float:left;
	width: 88%;
	margin-right: 5%;
	margin-left: 5%;
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 70px;
	font-family: 'klinic_slabbook';
	font-size: 15px;
	padding-bottom: 10px;
	padding-top: 50px;
}

.explanation p{
	margin-top: 10px;
}

.explanation h3{
	display: none;
}

.explanation:before{
	content: "so WHAT is this all ABOUT?";
	display:block;
	font-family: 'klinicbold';
	font-size: 30px;
	margin-left: 0px;
	margin-top: -111px;
	text-align: center;
	color: rgb(223,90,73);
}

.participation h3{
	font-size: 27px;
}

.benefits h3{
	font-size: 27px;
}

.requirements h3{
	font-size: 27px;
}

.summary {
		background-color: rgb(69,178,157);
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		margin-top: -25px;
		text-align: center;
		font-family: 'klinic_slabbook';
		font-size: 16px;
		padding-top: 10px;
		padding-right: 5%;
		padding-left: 5%;
		color: white;
	}

	.summary:after{
	content:"";
	display:block;
	background-color: rgb(247,228,166);
	background-image: url(images/ribblue.png);
	width: 112%;
	height: 120px;
	margin-left: -6%;
	background-repeat: no-repeat;
  	background-position: center top;
  	background-size: contain;	
}

.extra3{
	background-image: url(images/elephantred.png);
	width: 120px;
	height: 99px;
	position: absolute;
	top: 235px;
	left: 35%;
}

.summary a{
	color: rgb(239,201,76);
}

.participation{
	background-color: rgb(244,216,127);
	clear:both;
	width: 100%;

}

.participation h3{
	font-family: 'klinicbold';
	font-size: 30px;
	text-align: center;
	margin-left: 5%;
	color: rgb(223,90,73);
	margin-top: 20px;
	text-transform: uppercase;
	background-image: url(images/borderwhite.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 6px;
	margin-bottom: 5px;
}

.participation p{
	margin-left: 5%;
	width: 88%;
	padding-left: 1%;
	padding-right: 1%;
	margin-right: 5%;
	font-family: 'klinic_slabbook';
	font-size: 15px;
	padding-top: 13px;
}

.participation a{
	color: rgb(69,178,157);
}

.participation p:nth-child(2){
	margin-top: -12px;
}

.participation:before{
	background-image: url(images/border.jpg);
	content:"";
	width: 100%;
	height: 13px;
	display:block;
	background-color: transparent;
}

.participation p:nth-last-child(1):after{
	content: url(images/elephant.png);
	display: block;
	margin-left: 600px;
	float:right;
	margin-top: -2px;
	margin-left: 10px;
}

.benefits{
	background-color: rgb(244,216,127);
	padding-top: 20px;
}

.benefits p{
	margin-left: 5%;
	width: 60%;
	padding-left: 1%;
	padding-right: 1%;
	margin-right: 5%;
	font-family: 'klinic_slabbook';
	font-size: 15px;
	padding-top: 10px;
}

.benefits h3{
	font-family: 'klinicbold';
	font-size: 30px;
	text-align: center;
	margin-left: 5%;
	color: rgb(223,90,73);
	text-transform: uppercase;
	background-image: url(images/borderwhite.png);
	background-repeat: no-repeat;
	background-position: 24px 36px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.benefits:after{
	background-image: url(images/upborder.jpg);
	content:"";
	width: 100%;
	height: 13px;
	display:block;
	background-color: transparent;
	margin-top: 20px;
}

.participation p:nth-last-child(1):after{
	content: url(images/elephant.png);
	display: block;
	float:right;
	margin-top: 53px;
	margin-left: 10px;
}

.requirements{
	float:right;
}



.requirements p{
	margin-left: 5%;
	width: 86%;
	padding-left: 1%;
	padding-right: 1%;
	font-family: 'klinic_slabbook';
	font-size: 15px;
	padding-top: 10px;
}

.requirements a{
	color: rgb(69,178,157);
}



.requirements h3{
	font-family: 'klinicbold';
	font-size: 30px;
	color: rgb(223,90,73);
	text-transform: uppercase;
	margin-top: 10px;
	text-align: center;
	background-image: url(images/borderwhite.png);
	background-repeat: none;
	background-position: center bottom;
	background-repeat: no-repeat;
	padding-bottom: 7px;
}



.requirements p:nth-last-child(1){
	background-color: rgb(69,178,157);
	width: 98%;
	text-align: center;
	margin-left:0;
	float:right;
	margin-top: 20px;
	padding-top: 0px;
	background-image: url(images/borderb.jpg);
	background-repeat: repeat-x;
	padding-top: 37px;
	padding-bottom: 20px;
	margin-bottom: 7px;
}

.requirements p:nth-last-child(1) a{
	color: rgb(239,201,76);
}

footer{
	text-align: center;
}

footer a{
	color: rgb(223,90,73);
	padding-left: 2%;
	padding-right: 2%;
	border-right-style: solid;
	border-right-width: 5px;
	border-right-color: white;
	font-family: 'klinicbold';
	font-size: 15px;
}

footer a:nth-last-child(1){
	border-right:none;
}

.zen-resources{
	background-color: transparent;
	text-align: center;
	padding-top: 10px;
	font-family: 'klinicbold';
	font-size: 15px;
	padding-bottom: 10px;
}

.zen-resources h3{
	font-size: 20px;
	padding-bottom: 5px;
	color: rgb(69,178,157);;
}

.zen-resources a{
	color: black;
	font-family: "klinic_slabbook";
}

.design-archives{
	background-color: rgb(223,90,73);
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
	text-align: center;
	padding-bottom: 10px;
	font-family: "klinicbold";
	font-size: 16px;
}

.design-selection{
	background-color: rgb(226,122,63);
	color: black;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "klinic_slabbook";
	font-size: 16px;
	margin-top:7px;
}

.design-selection h3{
	color:white;
}

.design-selection a{
	color: black;
}

.design-selection li a:nth-child(1){
	width: 100%;
	display: block;
	font-family: "klinic_slabbook";
	padding-top: 5px;
	color: rgb(249,236,193);
}

.design-selection h3{
	font-size: 22px;
}

.design-archives h3{
	font-size: 22px;
	padding-top: 10px;
	color: rgb(244,216,127);
}

.design-archives .next a{
	content: url(images/next.png);
	margin-top: 10px;
}

.design-archives .viewall a{
	content: url(images/all.png);
	margin-top: 10px;
}

}















