<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Kory | Development and Design</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/screen.css">
</head>


<body>
  <!-- pushy mobile nav -->
  <div class="container-fluid gradient-shadow d-block d-md-none">
    <nav class="navbar p-0">
      <div class="collapse navbar-collapse justify-content-end" id="mobile-nav">
        <ul class="nav justify-content-center my-3">
          <li class="nav-item col text-center border-right">
            <a href="#" class="text-dark px-3">About</a>
          </li>
          <li class="nav-item col text-center border-right">
            <a href="#" class="text-dark px-3">Work</a>
          </li>
          <li class="nav-item col text-center">
            <a href="#" class="text-dark px-3">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- end pushy mobile nav -->


  <header class="container-fluid gradient-blue">
    <div class="container bg-code">
      <nav class="navbar">
        <a class="navbar-brand" href="#">
          <img src="images/logo_kory.svg" width="140" height="85" class="d-inline-block align-top">
          <span class="sr-only">Kory - Hybrid Developer</span>
        </a>

        <button class="navbar-toggler second-button d-xs-flex d-md-none" type="button" data-toggle="collapse" data-target="#mobile-nav" aria-controls="mobile-nav" aria-expanded="false" aria-label="Toggle navigation">
          <div class="animated-icon"><span></span><span></span><span></span><span></span></div>
        </button>

        <div class="collapse navbar-collapse justify-content-end d-none d-md-block">
          <ul class="nav justify-content-end">
            <li class="nav-item mr-0 mr-md-3 d-block d-md-flex w-md-auto">
              <a href="#" class="nav-link pt-2 pt-md-0">About</a>
            </li>
            <li class="nav-item mr-0 mr-md-3 d-block d-md-flex w-md-auto">
              <a href="#" class="nav-link pt-2 pt-md-0">Work</a>
            </li>
            <li class="nav-item d-block d-md-flex w-md-auto">
              <a href="#" class="nav-link pt-2 pt-md-0">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="row">
        <div class="col-12 pb-3">
          <img src="images/textured_deer_2x.png" class="deer mx-auto d-block" width="30%">
          <img class="arrow mx-auto d-block" src="images/icon_arrows.svg" width="50" height="50">
        </div>
      </div>

    </div>
  </header>

  <main class="container">
    <div class="row">
      <div class="col-10 offset-1 mb-5">
       <h1>Hello!</h1>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium odio eget nisl efficitur aliquet. Aliquam et tortor rutrum augue aliquam fringilla. Nunc viverra molestie dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium odio eget nisl efficitur aliquet. Aliquam et tortor rutrum. </p>
      </div>
    </div>

    <div class="row">
     
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
          <div class="tile">
            <img class="background img-fluid" src="images/tiles/tile_insideaccess.jpg">
            <img class="logo" src="images/logos/logo_chase_2x.png">
            <p class="text mb-0 text-white">Inside Access</p>
          </div>
        </a>
       </div>
       <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
        <a href="##">
          <div class="tile">
            <img class="background img-fluid" src="images/tiles/tile_wawa.jpg">
            <img class="logo mb-0 mb-md-2" src="images/logos/logo_wawa_2x.png">
            <p class="text mb-0 text-white">Wawa.com Digital Management</p>
          </div>
        </a>
       </div>
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_dcwawa.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_wawa_2x.png">
          <p class="text mb-0 text-white">Washington DC Store Opening</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_honestkitchen.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_honestkitchen_2x.png">
          <p class="text mb-0 text-white">Honest Pets Calendar</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_dial.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_dfm_2x.png">
          <p class="text mb-0 text-white">Find the Freshness</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_verymerry.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_wawarewards_2x.png">
          <p class="text mb-0 text-white">Very Merry Rewards</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_swarovski.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_swarovski_2x.png">
          <p class="text mb-0 text-white">Just Because Rewards</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_hoagiefest.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_wawa_2x.png">
          <p class="text mb-0 text-white">Hoagiefest</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_accountselector.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_mandt_2x.png">
          <p class="text mb-0 text-white">Account Selector</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_boyscouts.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_boyscouts_2x.png">
          <p class="text mb-0 text-white">Boyscouts of DelMarVa</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_car.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_car_2x.png">
          <p class="text mb-0 text-white">Realtor Confessions</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_digitalsignage.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_wawa_2x.png">
          <p class="text mb-0 text-white">In-Store Digital Signage Animation</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_morningstar.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_morningstar_2x.png">
          <p class="text mb-0 text-white">The Veg of Allegiance</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_planetfitness.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_planetfitness_2x.png">
          <p class="text mb-0 text-white">Planet of Triumphs</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_reyka.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_reyka_2x.png">
          <p class="text mb-0 text-white">Snap A Shelfie</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_ripken.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_ripken_2x.png">
          <p class="text mb-0 text-white">Ripken Performance Metrics</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_siptopia.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_wawa_2x.png">
          <p class="text mb-0 text-white">Siptopia</p>
        </div>
      </a>
       </div>




      
      
    </div> 
    
  </main>

  <footer class="container-fluid bg-dark mt-5">
    <div class="container">
    <div class="row">
      <nav class="col-12">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a href="#" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Work</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
          </li>
          <p class="mb-0 d-flex py-2 text-white">&copy; Kory Walton 2019. All Rights Reserved.</p>
        </ul>
      </nav>
    </div>
  </div>

  </footer>

  <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="js/bundle.js"></script>
</body>
</html>