<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body class="sahara-blurred-bg">
  <!-- pushy mobile nav -->
  
  <!-- end pushy mobile nav -->


  <header class="container-fluid">
    <div class="container">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-blocked") %>
      <!-- end desktop nav --> 
    </div>
  </header>

  <main>

  <div class="container">
    <div class="row">
      <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 my-5">

        <p class="text-left m-0 text-white"><small>Password</small></p>
        <form name="login" id="box" class="login gradient-border">
          <input type="text" name="pass" class="password-field" onkeydown="if(event.keyCode==13) return false;" >
          <button type="button" class="submit" value="Click to Login" onclick="javascript:TheLogin(this.form)" autocomplete="off"><img src="images/arrow.svg"></button>
        </form>
      </div>
      
    </div>

    <div class="deer mx-auto d-block" id="deeranimation">
        <%- partial("_partials/_deeranimation") %>
      </div>
  </main>


  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

<script type="text/javascript">
// PASSWORD PROTECTION SCRIPT

function TheLogin() {

var password = 'open';

if (this.document.login.pass.value == password) {
  top.location.href="work.html";
}
else {
  $('#box').addClass("error");
  
  }
}

</script>



</body>
</html>