<footer class="container-fluid mt-5">
    <div class="container">
    <div class="row">
      <nav class="col-12">
        <ul class="nav justify-content-center mb-sm-2">
          <li class="nav-item mx-2">
            <a href="#" class="nav-link pb-0">About</a>
          </li>
          <li class="nav-item mx-2">
            <a href="#" class="nav-link pb-0">Work</a>
          </li>
          <li class="nav-item mx-2">
            <a href="#" class="nav-link pb-0">Contact</a>
          </li>
          <p class="mb-0 d-flex py-2 text-white ml-md-5 ml-0">&copy; Kory Walton 2019. All Rights Reserved.</p>
        </ul>
      </nav>
    </div>
  </div>
  </footer>