<footer class="container-fluid mt-5 sahara-bg bg-fixed">
    <div class="container">
    <div class="row">
      <nav class="col-12 py-3">
        <div class="mx-auto d-block text-center h-60 mt-3">
          <a class="d-inline-block icon mx-2" href="https://www.instagram.com/pixel.tots/">
            <img src="/images/instagram.svg">
          </a>
          <a class="d-inline-block icon mx-2" href="https://github.com/kwalt322">
            <img src="/images/github.svg">
          </a>
        </div>
        <p class="text-white text-center"><small>&copy; <span id="copyright"> <script>$('#copyright').text(new Date().getFullYear());</script> </span> Kory Walton. Some Rights Reserved.</small></p>
      </nav>
    </div>
  </div>
</footer>