<div class="container-fluid gradient-shadow d-block d-md-none">
    <nav class="navbar p-0">
      <div class="collapse navbar-collapse justify-content-end" id="mobile-nav">
        <ul class="nav justify-content-center my-3">
          <li class="nav-item col-4 text-center border-right">
            <a href="/about" class="text-dark px-sm-3 px-0">About</a>
          </li>
          <li class="nav-item col-4 text-center border-right">
            <a href="/work" class="text-dark px-sm-3 px-0">Work</a>
          </li>
          <li class="nav-item col-4 text-center">
            <a href="/contact" class="text-dark px-sm-3 px-0">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>