<nav class="navbar pb-5 px-0">
  <div class="col-9 col-md-auto p-0">
    <a class="navbar-brand" href="/work.html">
      <img src="images/logo_kory_mobile_2x.png" width="206" class="d-inline-block align-top logo">
      <span class="sr-only">Kory - Hybrid Developer</span>
    </a>
  </div>

  <div class="col-3 text-right">
    <button class="navbar-toggler second-button d-xs-flex d-md-none animated-wrapper" type="button" data-toggle="collapse" data-target="#mobile-nav" aria-controls="mobile-nav" aria-expanded="false" aria-label="Toggle navigation">
      <div class="animated-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
  </div>

  <div class="collapse navbar-collapse justify-content-end d-none d-md-block mt-negative">
    <ul class="nav justify-content-end">
      <li class="nav-item mr-0 mr-md-3 d-block d-md-flex w-md-auto">
        <a href="/about.html" class="nav-link pt-2 pt-md-0">About</a>
      </li>
      <li class="nav-item mr-0 mr-md-3 d-block d-md-flex w-md-auto">
        <a href="/work.html" class="nav-link pt-2 pt-md-0">Work</a>
      </li>
      <li class="nav-item d-block d-md-flex w-md-auto">
        <a href="/contact.html" class="nav-link pt-2 pt-md-0">Contact</a>
      </li>
    </ul>
  </div>
</nav>