<nav class="navbar">
  <a class="navbar-brand" href="/password">
    <img src="images/logo_kory.svg" width="140" height="85" class="d-inline-block align-top">
    <span class="sr-only">Kory - Hybrid Developer</span>
  </a>

</nav>

