<nav class="navbar">
  <a class="navbar-brand" href="/password">
    <img src="images/logo_kory.svg" width="140" height="85" class="d-inline-block align-top">
    <span class="sr-only">Kory - Hybrid Developer</span>
  </a>

  <button class="navbar-toggler second-button d-xs-flex d-md-none" type="button" data-toggle="collapse" data-target="#mobile-nav" aria-controls="mobile-nav" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animated-icon"><span></span><span></span><span></span><span></span></div>
  </button>

</nav>

