<div class="row" id="work">
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
          <div class="tile">
            <img class="background img-fluid" src="images/tiles/tile_insideaccess.jpg">
            <img class="logo" src="images/logos/logo_chase_2x.png">
            <p class="text mb-0 text-white">Inside Access</p>
          </div>
        </a>
       </div>
       <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
        <a href="##">
          <div class="tile">
            <img class="background img-fluid" src="images/tiles/tile_wawa.jpg">
            <img class="logo mb-0 mb-md-2" src="images/logos/logo_wawa_2x.png">
            <p class="text mb-0 text-white">Wawa.com Digital Management</p>
          </div>
        </a>
       </div>
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_dcwawa.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_wawa_2x.png">
          <p class="text mb-0 text-white">Washington DC Store Opening</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_honestkitchen.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_honestkitchen_2x.png">
          <p class="text mb-0 text-white">Honest Pets Calendar</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_dial.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_dfm_2x.png">
          <p class="text mb-0 text-white">Find the Freshness</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_verymerry.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_wawarewards_2x.png">
          <p class="text mb-0 text-white">Very Merry Rewards</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_swarovski.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_swarovski_2x.png">
          <p class="text mb-0 text-white">Just Because Rewards</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_hoagiefest.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_wawa_2x.png">
          <p class="text mb-0 text-white">Hoagiefest</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_accountselector.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_mandt_2x.png">
          <p class="text mb-0 text-white">Account Selector</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_boyscouts.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_boyscouts_2x.png">
          <p class="text mb-0 text-white">Boyscouts of DelMarVa</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_car.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_car_2x.png">
          <p class="text mb-0 text-white">Realtor Confessions</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_digitalsignage.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_wawa_2x.png">
          <p class="text mb-0 text-white">In-Store Digital Signage Animation</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_morningstar.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_morningstar_2x.png">
          <p class="text mb-0 text-white">The Veg of Allegiance</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_planetfitness.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_planetfitness_2x.png">
          <p class="text mb-0 text-white">Planet of Triumphs</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_reyka.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_reyka_2x.png">
          <p class="text mb-0 text-white">Snap A Shelfie</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_ripken.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_ripken_2x.png">
          <p class="text mb-0 text-white">Ripken Performance Metrics</p>
        </div>
      </a>
       </div>
       <div class="col-10 offset-1 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
        <a href="##">
        <div class="tile">
          <img class="background img-fluid" src="images/tiles/tile_siptopia.jpg">
          <img class="logo mb-0 mb-md-2" src="images/logos/logo_wawa_2x.png">
          <p class="text mb-0 text-white">Siptopia</p>
        </div>
      </a>
       </div>
    </div> 