<div class="row" id="work">
  <div class="col-12 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
    <a href="/flatbreads">
      <div class="tile">
        <img class="background img-fluid" src="images/tiles/tile_flatbreads.jpg">
        <span class="logo logo-wawa-grey d-md-none d-inline-block mt-n1"></span>
        <img class="logo d-none d-md-inline-block mb-2" src="images/logos/logo_wawa_2x.png">
        <p class="text mb-1 mb-md-0 ml-3">Flatbreads Campaign</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
    <a href="/insideaccess">
      <div class="tile">
        <img class="background img-fluid" src="images/tiles/tile_insideaccess.jpg">
        <span class="logo logo-chase-grey d-md-none d-inline-block ml-2 mt-2"></span>
        <img class="logo d-none d-md-inline-block" src="images/logos/logo_chase_2x.png">
        <p class="text mb-2 mb-md-0 ml-3">Inside Access</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
    <a href="/accountselector">
      <div class="tile">
        <img class="background img-fluid" src="images/tiles/tile_accountselector.jpg">
        <span class="logo logo-mandt-grey d-md-none d-inline-block ml-1 mt-1"></span>
        <img class="logo d-none d-md-inline-block mb-1" src="images/logos/logo_mandt_2x.png">
        <p class="text mb-2 mb-md-0 ml-3">Account Selector</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
    <a href="/dcstoreopening">
      <div class="tile">
        <img class="background img-fluid" src="images/tiles/tile_dcwawa.jpg">
        <span class="logo logo-wawa-grey d-md-none d-inline-block"></span>
        <img class="logo d-none d-md-inline-block mb-2" src="images/logos/logo_wawa_2x.png">
        <p class="text mb-2 mb-md-0 ml-3">Washington DC Store Opening</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
    <a href="/siptopia">
      <div class="tile">
        <img class="background img-fluid" src="images/tiles/tile_siptopia.jpg">
        <span class="logo logo-wawa-grey d-md-none d-inline-block"></span>
        <img class="logo d-none d-md-inline-block mb-2" src="images/logos/logo_wawa_2x.png">
        <p class="text mb-2 mb-md-0 ml-3">Siptopia</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
    <a href="/verymerryrewards">
      <div class="tile">
        <img class="background img-fluid" src="images/tiles/tile_verymerry.jpg">
        <span class="logo logo-wawa-grey d-md-none d-inline-block"></span>
        <img class="logo d-none d-md-inline-block mr-2 mb-2" src="images/logos/logo_wawarewards_2x.png">
        <p class="text mb-2 mb-md-0 ml-3">Very Merry Rewards</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
    <a href="/hoagiefest">
      <div class="tile">
        <img class="background img-fluid" src="images/tiles/tile_hoagiefest.jpg">
        <span class="logo logo-wawa-grey d-md-none d-inline-block"></span>
        <img class="logo d-none d-md-inline-block mb-2" src="images/logos/logo_wawa_2x.png">
        <p class="text mb-2 mb-md-0 ml-3">Hoagiefest</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
    <a href="/swarovski">
      <div class="tile">
        <img class="background img-fluid" src="images/tiles/tile_swarovski.jpg">
        <span class="logo logo-swarovski-sm d-md-none d-inline-block ml-2"></span>
        <img class="logo d-none d-md-inline-block mb-2" src="images/logos/logo_swarovski_2x.png">
        <p class="text mb-1 mb-md-0 ml-3">Just Because Rewards</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
    <a href="/boyscouts">
      <div class="tile">
        <img class="background img-fluid" src="images/tiles/tile_boyscouts.jpg">
        <span class="logo logo-delmarva-sm d-md-none d-inline-block ml-2 mb-1"></span>
        <img class="logo d-none d-md-inline-block mr-2 mr-md-0 mb-2" src="images/logos/logo_boyscouts_2x.png">
        <p class="text mb-2 mb-md-0 ml-3">Boyscouts of DelMarVa</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
    <a href="/honestkitchen">
      <div class="tile">
        <img class="background img-fluid" src="images/tiles/tile_honestkitchen.jpg">
        <span class="logo logo-honestkitchen-sm d-md-none d-inline-block ml-2 mt-n1"></span>
        <img class="logo d-none d-md-inline-block mr-2 mr-md-0 mb-1" src="images/logos/logo_honestkitchen_2x.png">
        <p class="text mb-1 mb-md-0 ml-3">Honest Pets Calendar</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
    <a href="/morningstarfarms">
      <div class="tile">
        <img class="background img-fluid" src="images/tiles/tile_morningstar.jpg">
        <span class="logo logo-morningstar-grey d-md-none d-inline-block ml-1 mt-1"></span>
        <img class="logo d-none d-md-inline-block mb-1" src="images/logos/logo_morningstar_2x.png">
        <p class="text mb-2 mb-md-0 ml-3">The Veg of Allegiance</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
    <a href="/californiarealtors">
      <div class="tile">
        <img class="background img-fluid" src="images/tiles/tile_car.jpg">
        <span class="logo logo-car-sm d-md-none d-inline-block ml-2 mb-1"></span>
        <img class="logo d-none d-md-inline-block mb-2" src="images/logos/logo_car_2x.png">
        <p class="text mb-2 mb-md-0 ml-3">Realtor Confessions</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
    <a href="/planetfitness">
      <div class="tile">
        <img class="background img-fluid" src="images/tiles/tile_planetfitness.jpg">
        <span class="logo logo-planetfitness-sm d-md-none d-inline-block ml-2"></span>
        <img class="logo d-none d-md-inline-block mr-2 mr-md-0 mb-2" src="images/logos/logo_planetfitness_2x.png">
        <p class="text mb-0 mb-md-0 ml-3">Planet of Triumphs</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
    <a href="/reyka">
      <div class="tile">
        <img class="background img-fluid" src="images/tiles/tile_reyka.jpg">
        <span class="logo logo-reyka-grey d-md-none d-inline-block ml-2 mt-1"></span>
        <img class="logo d-none d-md-inline-block mb-2" src="images/logos/logo_reyka_2x.png">
        <p class="text mb-2 mb-md-0 ml-3">Snap A Shelfie</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-lg-5 col-md-8 offset-md-2 offset-lg-1 mb-4">
    <a href="/ripken">
      <div class="tile">
        <img class="background img-fluid" src="images/tiles/tile_ripken.jpg">
        <span class="logo logo-ripken-sm d-md-none d-inline-block mt-n1 ml-2"></span>
        <img class="logo d-none d-md-inline-block mb-2" src="images/logos/logo_ripken_2x.png">
        <p class="text mb-2 mb-md-0 ml-3">Ripken Performance Metrics</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-md-8 offset-md-2 col-lg-5 mb-4 offset-lg-0">
    <a href="/dialformen">
      <div class="tile">
        <img class="background img-fluid" src="images/tiles/tile_dial.jpg">
        <span class="logo logo-dial-sm d-md-none d-inline-block ml-2 mt-n1"></span>
        <img class="logo d-none d-md-inline-block mr-2" src="images/logos/logo_dfm_2x.png">
        <p class="text mb-2 mb-md-0 ml-3">Find the Freshness</p>
      </div>
    </a>
  </div>
</div>